[Unit]
Description=Check and restart Ethereum Miner
After=network.target geth.service miner.service
Requires=geth.service nvtune.service
Wants=miner.service

[Service]
ExecStart=/usr/bin/node check.js
WorkingDirectory=/home/jingshaochen/pickaxe/
Restart=always
User=root
Group=root
Environment=TERM=xterm-256color

[Install]
WantedBy=multi-user.target
