[Unit]
Description=Ethereum Miner
After=network.target geth.service
Requires=geth.service nvtune.service

[Service]
ExecStart=/home/jingshaochen/bin/ethminer --farm-recheck 3000 -U -S eth-eu1.nanopool.org:9999 -FS eth-eu2.nanopool.org:9999 -O 0x3b862fd6142af29f5321c0993d4bad81e5325080.cjsm1
Restart=always
User=jingshaochen
Group=jingshaochen
Environment=TERM=xterm-256color

[Install]
WantedBy=multi-user.target
