[Unit]
Description=Ethereum Miner
After=network.target
Requires=nvtune.service

[Service]
ExecStart=/home/jingshaochen/bin/ethminer --farm-recheck 3000 -U -S eth-us-east1.nanopool.org:9999 -FS eth-us-west1.nanopool.org:9999 -O 0x3b862fd6142af29f5321c0993d4bad81e5325080.cjsm1/jingshaochen@gmail.com
Restart=always
User=jingshaochen
Group=jingshaochen
Environment=TERM=xterm-256color

[Install]
WantedBy=multi-user.target
